
<h3> Department Rank </h3>

<form>
    <div class = "form-group">
        <label> Roll Number ( in capitals) </label>		
        <input name = "roll_num" ng-model = "visitor.roll_num" class = "form-control"></input>
    </div>

    <div class = "form-group">
    <input class = "btn btn-default" type="button" value="view" ng-click = "submit(visitor)"></input>
    </div>
</form>

<div ng-show = show >
Hey, your department rank is {{user.rank}}. <br> {{user.size}} students out of 133 have filled the database till now. <br> Hope this helps. 

</div>
